<p style="color: green"><%= notice %></p>

<h1>
  <%= link_to "Lists", lists_path %>:
  <%= @list.code %>
</h1>
<ul>
  <% @list.values.each do |v| %>
    <li>
      <%= v.text %>
      <%= button_to "remove", remove_from_list_path(@list.code, v.id), method: :delete, form: { style: "display: inline;" } %>
    </li>
  <% end %>
  <% if @list.values.empty? %><i>no items</i><% end %>
</ul>

<%= form_with url: add_to_list_path(@list.code), method: :post do |form| %>
  <%= form.text_field :text, autofocus: true %>
  <%= form.submit "add" %>
<% end %>

<p><%= button_to "Delete List", list_path(@list.code), method: :delete %></p>
